<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Diary-Update</title>
</head>
<body>
    <h1>다이어리 수정</h1>
    <form th:action="@{/diary/__${diary.no}__}" th:object="${requestDto}" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <label for="title">제목</label>
        <input type="text"id="title" name="title" th:value="${diary.title}"/> <br />
        <label for="editor">내용</label>
        <textarea id="editor" name="note"></textarea>
        <input type="submit" value="등록" />
    </form>
</body>
<script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var note = /*[[ ${diary.note} ]]*/;

    /*]]*/
    let editor;
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then( newEditor => {
            editor = newEditor;
            newEditor.setData(note);
        })
        .catch(error => {
            console.error(error);
        })
</script>
</html>